stages:
  - lint
  - test

lint:
  image: koalaman/shellcheck:latest
  script:
    - ./run_shellcheck.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

test:
  image: bats/bats:latest
  script:
    - bats hello_test.bats
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH 